<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>"This is the info page:"</h1>
        <h2> "Whoa! I'm really cooking with gas here, now! :)"</h2>
        <p> "funny, tho.  Because I just barely know how to write html"</p>
        <li> "how about a separate li here.. is that line? or list? hmm. i forgot.</li>
    </body>
</html>

